<!doctype html>
<html lang="ru">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
  <link rel="manifest" href="../static/favicons/site.webmanifest">
  <link rel="mask-icon" href="../static/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/bootstrap.min.css">

  <title>Hello, world!</title>
</head>
<body>
<div class="container">
  <nav aria-label="Page navigation">
    <div class="mx-auto mt-3 mb-4" style="width: 200px;">
    <ul class="pagination">
      {% if current_page == 1 %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="./index{{current_page-1}}.html" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif%}
      {% for page_number in range(1, pages_count+1) %}
      {% if page_number == current_page %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="./index{{page_number}}.html">{{page_number}}<span
                class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="./index{{page_number}}.html">{{page_number}}</a></li>
      {% endif %}
      {% endfor %}
      {% if current_page == pages_count %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="./index{{current_page+1}}.html" aria-label="Previous">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif%}
    </ul>
  </div>
  </nav>
</div>
{% for book in books %}
{% if book[1] %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../{{book[0].img_src}}" class="card-img" alt="{{book[0].title}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{book[0].title}}</h5>
              <p class="card-text">{{book[0].author}}</p>
              <h6>
                {% for genre in book[0].genres %}
                <span class="badge badge-secondary">{{genre}}</span>
                {% endfor %}
              </h6>
              <a href="../{{book[0].book_path|urlencode}}" target="blank">Читать</a>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../{{book[1].img_src}}" class="card-img" alt="{{book[1].title}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{book[1].title}}</h5>
              <p class="card-text">{{book[1].author}}</p>
              <h6>
                {% for genre in book[1].genres %}
                <span class="badge badge-secondary">{{genre}}</span>
                {% endfor %}
              </h6>
              <a href="../{{book[1].book_path|urlencode}}" target="blank">Читать</a>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../{{book[0].img_src}}" class="card-img" alt="{{book[0].title}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{book[0].title}}</h5>
              <p class="card-text">{{book[0].author}}</p>
              <h6>
                {% for genre in book[0].genres %}
                <span class="badge badge-secondary">{{genre}}</span>
                {% endfor %}
              </h6>
              <a href="../{{book[0].book_path|urlencode}}" target="blank">Читать</a>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/jquery-3.3.1.slim.min.js"></script>
<script src="../static/popper.min.js"></script>
<script src="../static/bootstrap.min.js"></script>
</body>
</html>